//- reservations는 라우터에서 처리
extends ../layout

block content
  .container
    .alert.alert-secondary(role="alert")
      user.name 님의 예약 내역은 다음과 같습니다.
    
    table.table.table-hover
      thead
        tr
          th 강의실 번호
          th 예약 날짜
          th 예약 시간
          th 예약 목적
          th 수정 / 삭제
      tbody
        //each d in reservations
          tr
            td= d.강의실번호
            td= d.예약날짜
            td= d.예약시간
            td= d.예약목적
            td
              a.btn.btn-sm.btn-outline-secondary(href=`해당내역수정링크`) 
                | #[i.fa.fa-pencil] 정보 수정
              | 
              a.btn.btn-sm.need-confirm-btn.btn-outline-danger(href=`해당내역삭제링크`)
                | #[i.fa.fa-trash] 탈퇴하기 