extends layout
block content 
  //상단
  body
    .container
      .row(style='border:solid')
        h1.main-title= users.name
      .row
        .col-3(style='border:solid')
          h1 MENU
        .col-9
          .row(style='border:solid')
            form
              .form-row.align-items-center.pl-4.pt-2
                p
                  | Date: 
                  input#datepicker(type='text')
              .form-row.align-items-center.pl-4.pb-2
                .col-auto
                  .form-group
                    // <label for="campus">캠퍼스</label>
                    select#campus.custom-select
                      option(selected='') 캠퍼스
                      option(value='') 인문캠퍼스
                      option(value='') 자연캠퍼스
                .col-auto
                  .form-group
                    // <label for="college">단과대학</label>
                    select#college.custom-select
                      option(selected='') 단과대학
                .col-auto
                  .form-group
                    // <label for="department">학과</label>
                    select#department.custom-select
                      option(selected='') 학과
                .col-auto
                  .form-group
                    button.btn.btn-primary(type='submit') 조회하기
          .row(style='border:solid')
            h3 queryT
    script#college-1(type='text/template').
      <option value="11">인문대학</option>
      <option value="12">사회과학대학</option>
      <option value="13">경영대학</option>
      <option value="14">법과대학</option>
      <option value="15">ICT융합대학</option>
      <option value="16">미래융합대학</option>
      <option value="17">방목기초교육대학(인문)</option>
    script#college-2(type='text/template').
      <option value="21">자연과학대학</option>
      <option value="22">공과대학</option>
      <option value="23">예술체육대학</option>
      <option value="24">건축대학</option>
      <option value="25">방목기초교육대학(자연)</option>
    script#department-11(type='text/template').
      <option value="111">국어국문학과</option>
      <option value="112">중어중문학과</option>
      <option value="113">일어일문학과</option>
      <option value="114">영어영문학과</option>
      <option value="115">사학과</option>
      <option value="116">문헌정보학과</option>
      <option value="117">미술사학과</option>
      <option value="118">철학과</option>
      <option value="119">중동학부 아랍지역학과</option>
      <option value="1110">문예창작과</option>
    script#department-12(type='text/template').
      <option value="121">행정학과</option>
      <option value="122">경제학과</option>
      <option value="123">정치외교학과</option>
      <option value="124">디지털미디어학과</option>
      <option value="125">아동학과</option>
      <option value="126">청소년지도학과</option>
      <option value="127">사회복지학과</option>
    script#department-13(type='text/template').
      <option value="131">경영학과</option>
      <option value="132">국제통상학과</option>
      <option value="133">경영정보학과</option>
      <option value="134">부동산학과</option>
      <option value="135">경영교육혁신센터</option>
    script#department-14(type='text/template').
      <option value="141">법학과</option>
      <option value="142">법무정책학과</option>
    script#department-15(type='text/template').
      <option value="151">디지털콘텐츠디자인학과</option>
      <option value="152">융합소프트웨어학부</option>
    script#department-16(type='text/template').
      <option value="161">창의융합인재학부</option>
      <option value="162">사회복지학과</option>
      <option value="163">부동산학과</option>
      <option value="164">법무행정학과</option>
      <option value="165">심리치료학과</option>
      <option value="166">미래융합경영학과</option>
    script#department-17(type='text/template').
      <option value="171">전공자유학부(인문)</option>
      <option value="172">융합전공학부(인문</option>
    script#department-21(type='text/template').
      <option value="211">수학과</option>
      <option value="212">물리학과</option>
      <option value="213">화학과</option>
      <option value="214">식품영양학과</option>
      <option value="215">생명과학정보학과</option>
    script#department-22(type='text/template').
      <option value="221">전기공학과</option>
      <option value="222">전자공학과</option>
      <option value="223">정보통신공학과</option>
      <option value="224">화학공학과</option>
      <option value="225">신소재공학과</option>
      <option value="226">환경에너지공학과</option>
      <option value="227">토목환경공학과</option>
      <option value="228">교통공학과</option>
      <option value="229">기계공학과</option>
      <option value="2210">산업경영공학과</option>
      <option value="2211">컴퓨터공학과</option>
    script#department-23(type='text/template').
      <option value="231">디자인학부</option>
      <option value="232">체육학부</option>
      <option value="233">음악학부</option>
      <option value="234">바둑학과</option>
      <option value="235">영화/뮤지컬학부</option>
    script#department-24(type='text/template').
      <option value="241">건축학부</option>
      <option value="242">공간디자인전공</option>
    script#department-25(type='text/template').
      <option value="251">전공자유학부(자연)</option>

  //하단
  head
    style.
      .ui-timepicker {
      font-size: 12px;
      width:200px;
      box-shadow:0 5px 10px rgba(0,0,0,0.2);
      background:rgba(215, 205, 205, 0.20);
      }
    script.
      $(document).ready(function () {
      $('#StartTime,#EndTime').timepicker({
      timeFormat: 'h:mm p',
      interval: '60',
      minTime: '9:00am',
      maxTime: '6:00pm',
      // defaultTime: '11',
      startTime: '9:00',
      dynamic: false,
      dropdown: true,
      scrollbar: true
      });
      });
    title 강의실 조회
  body
    .jumbotron
      .container
        .row
          table.table.table-bordered(style='text-align:center; border:1px solid #dddddd')
            thead
              tr
                td(style='background-color: #E6E6E6; text-align: center;') 강의실
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  9
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  10
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  11
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  12
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  13
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  14
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  15
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  16
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  17
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  18
            tbody
              tr
                td(style='background-color: #ffffff;') 강의실번호
                th(style='background-color: #ffffff;')
                th(style='background-color: #5858FA;')
                th(style='background-color: #5858FA;')
                th(style='background-color: #5858FA;')
                th(style='background-color: #5858FA;')
                th(style='background-color: #5858FA;')
                th(style='background-color: #5858FA;')
                th(style='background-color: #5858FA;')
                th(style='background-color: #5858FA;')
                th(style='background-color: #ffffff;')
      style.
        .container {
        display: flex;
        }
      .container
        .col-md-
          h5 예약 시간
        hr(style='margin:10px')
        .col-md-
          input#StartTime(type='text')
          |                     -
          input#EndTime(type='text')
        hr(style='margin:5px')
      .container
        .col-md-
          h5 예약 목적
        hr(style='margin:10px')
        .col-sm
          select.form-control(style='width:100px;height:30px;')
            option 학습
            option 회의
            option 수업
            option 기타
      br
      br
      .container
        hr(style='margin:20px')
        button.btn.btn-success.btn-sm(type='button', style='width:100px', value='submit') 확인
        hr(style='margin:15px')
        button.btn.btn-warning.btn-sm(type='button', style='width:100px; float: center;', value='cancel') 취소
    