extends layout

block content
  section
    .container
      .row
        .col
          img#mju_logo2(src='/images/mju_logo_tree.jpg' alt='')
        .col
          button(class = "btn-1", onclick="location='/page1/page1'") 조회하기 
          button(class = "btn-1",onclick="location='/page2/page2'") 예약하기
          button(class = "btn-1",onclick="location='/lookup/lookup'") 예약확인
        

          


//- 조회하기: page1
//- 예약하기: page2
//- 예약하기: lookup