<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>명지대학교 공강공강</title>
    <style>
        @import "loginView.css";
    </style>
</head>
<body>
  <header><img id="mju_logo" src="image/Myongju_University_logotype.png" alt=""></header>
  <section>
    <table>
        <tbody>
            <tr><td id="cell_1" rowspan="4"></td>
                <td id="cell_2" rowspan="4">
                  <div>
                      <img src="image/박보검.jpg" alt="박보검" style="width:100%; height: 100%;">
                  </div>
                  <div>
                      <img src="image/runas.jpg" alt="club" style="width:100%; height: 100%;">
                  </div>
                </td>
                <td id="cell_3" colspan="2"><img src="image/login.png" alt=""></td>
            </tr>
            <tr>
            <td id="cell_4" style="background-color:lightgrey;">
                <form class="w3-container">
                    <ul class="login" style="list-style:none;">
                        <li>
                        <label>ID
                            <input class="w3-input" id="input_id" type="text" name="user_id" placeholder="학번">
                        </label>
                        </li>
                        <li>
                        <label>Password
                            <input class="w3-input" id="input_pwd" type="password" name="password" placeholder="비밀번호">
                        </label>
                        </li>
                        <li>
                            <button id="login_btn" type="button" name="LOGIN">LOGIN</button>
                        </li>
                    </ul>
                </form>
                </td>
                </tr>
                <tr>
                <td id="cell_5" colspan="2">
                    <button class="w3-btn w3-black" type="button" name="search_id" style="margin-left : 60px;" onclick="window.open('id_search_window.html','window_name','width=430,height=100,location=no,status=no,scrollbars=yes');">SEARCH ID</button>
                    <button class="w3-btn w3-black" type="button" name="search_password">SEARCH PASSWORD</button>
                </td>
                </tr>
                <tr>
                <td style="background-color:lightgrey; text-align:center;">공지사항</td>
                </tr>
                <tr>
                <td id="cell_13">13</td>
                <td id="cell_14" colspan="3">
                    <img id="seoul" src="image/인문캠퍼스.gif" alt="">
                    <img id="yongin" src="image/자연캠퍼스.gif" alt="">
                </td>
                </tr>
            </tbody>
        </table>
      </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="loginView.js"></script>
</body>
</html>
