<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>queryB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />  
    <script src="main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>  
    <script src = "queryB.js"></script>
</head>
<body>
    <div class="container">
        <div class="row" style="border:solid">
            <h1>XXXXXX님이 입장하셨습니다~~</h1>
        </div>
        <div class="row">
            <div class="col-3" style="border:solid">
                <h1>MENU</h1>
            </div>
            <div class="col-9">
                <div class="row" style="border:solid">
                    <form>
                        <div class="form-row align-items-center pl-4 pt-2">
                            <p>Date: <input type="text" id = "datepicker"></p>
                        </div>
                        <div class="form-row align-items-center pl-4 pb-2">
                            <div class="col-auto">
                                <div class="form-group">
                                    <!-- <label for="campus">캠퍼스</label> -->
                                    <select class="custom-select" id="campus">
                                        <option selected>캠퍼스</option>
                                        <option value="">인문캠퍼스</option>
                                        <option value="">자연캠퍼스</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-group">
                                    <!-- <label for="college">단과대학</label> -->
                                    <select class="custom-select" id="college">
                                        <option selected>단과대학</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-group">
                                    <!-- <label for="department">학과</label> -->
                                    <select class="custom-select" id="department">
                                        <option selected>학과</option>

                                    </select>
                                </div>        
                            </div>
                            <div class="col-auto">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">조회하기</button>
                                </div>
                            </div>
                        </div>
                      </form>
                </div>
                <div class="row" style="border:solid">
                    <h3>queryT</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script id="college-1" type="text/template">
    <option value="11">인문대학</option>
    <option value="12">사회과학대학</option>
    <option value="13">경영대학</option>
    <option value="14">법과대학</option>
    <option value="15">ICT융합대학</option>
    <option value="16">미래융합대학</option>
    <option value="17">방목기초교육대학(인문)</option>
</script>
<script id="college-2" type="text/template">
    <option value="21">자연과학대학</option>
    <option value="22">공과대학</option>
    <option value="23">예술체육대학</option>
    <option value="24">건축대학</option>
    <option value="25">방목기초교육대학(자연)</option>
</script>
<script id="department-11" type="text/template">
    <option value="111">국어국문학과</option>
    <option value="112">중어중문학과</option>
    <option value="113">일어일문학과</option>
    <option value="114">영어영문학과</option>
    <option value="115">사학과</option>
    <option value="116">문헌정보학과</option>
    <option value="117">미술사학과</option>
    <option value="118">철학과</option>
    <option value="119">중동학부 아랍지역학과</option>
    <option value="1110">문예창작과</option>
</script>
<script id="department-12" type="text/template">
    <option value="121">행정학과</option>
    <option value="122">경제학과</option>
    <option value="123">정치외교학과</option>
    <option value="124">디지털미디어학과</option>
    <option value="125">아동학과</option>
    <option value="126">청소년지도학과</option>
    <option value="127">사회복지학과</option>
</script>
<script id="department-13" type="text/template">
    <option value="131">경영학과</option>
    <option value="132">국제통상학과</option>
    <option value="133">경영정보학과</option>
    <option value="134">부동산학과</option>
    <option value="135">경영교육혁신센터</option>
</script>
<script id="department-14" type="text/template">
    <option value="141">법학과</option>
    <option value="142">법무정책학과</option>
</script>
<script id="department-15" type="text/template">
    <option value="151">디지털콘텐츠디자인학과</option>
    <option value="152">융합소프트웨어학부</option>
</script>
<script id="department-16" type="text/template">
    <option value="161">창의융합인재학부</option>
    <option value="162">사회복지학과</option>
    <option value="163">부동산학과</option>
    <option value="164">법무행정학과</option>
    <option value="165">심리치료학과</option>
    <option value="166">미래융합경영학과</option>
</script>
<script id="department-17" type="text/template">
    <option value="171">전공자유학부(인문)</option>
    <option value="172">융합전공학부(인문</option>
</script>
<script id="department-21" type="text/template">
    <option value="211">수학과</option>
    <option value="212">물리학과</option>
    <option value="213">화학과</option>
    <option value="214">식품영양학과</option>
    <option value="215">생명과학정보학과</option>
</script>
<script id="department-22" type="text/template">
    <option value="221">전기공학과</option>
    <option value="222">전자공학과</option>
    <option value="223">정보통신공학과</option>
    <option value="224">화학공학과</option>
    <option value="225">신소재공학과</option>
    <option value="226">환경에너지공학과</option>
    <option value="227">토목환경공학과</option>
    <option value="228">교통공학과</option>
    <option value="229">기계공학과</option>
    <option value="2210">산업경영공학과</option>
    <option value="2211">컴퓨터공학과</option>
</script>
<script id="department-23" type="text/template">
    <option value="231">디자인학부</option>
    <option value="232">체육학부</option>
    <option value="233">음악학부</option>
    <option value="234">바둑학과</option>
    <option value="235">영화/뮤지컬학부</option>
</script>
<script id="department-24" type="text/template">
    <option value="241">건축학부</option>
    <option value="242">공간디자인전공</option>
</script>
<script id="department-25" type="text/template">
    <option value="251">전공자유학부(자연)</option>
</script>