<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>아이디찾기</title>
</head>
<body>
    <form style="list-style:none;">
        <li> 
            <label>이름
                <input id="name" type="text" placeholder="이름">
            </label></li>
        <li>
        <label>이메일
            <input id="email" type="text" placeholder="id@domain">
            </label>
        </li>
        <li>
            <button id="search_id_check">확인</button>
            <button onClick='self.close()'>취소</button>
        </li>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="loginView.js"></script>
</body>
</html>