extends ../layout

block content
  .container
    h1.main-title 강의실 조회
    
  body
    .jumbotron
      .container
        div
          table
            thead
              tr
                td(style='background-color: #5858FA; width:50px;')
                td(style='text-align: center') 예약 불가능
                td(style='width: 10px')
                td(style='background-color : #ffffff; width: 50px')
                td(style='text-align: center') 예약 가능
        br
        .row
          table.table.table-bordered(style='text-align:center; border:1px solid #dddddd')
            thead
              tr
                td(style='background-color: #E6E6E6; text-align: center; width:80px') 강의실
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  9
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  10
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  11
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  12
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  13
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  14
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  15
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  16
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  17
                td(style='background-color: #E6E6E6; text-align: center; width:50px')  18
                td(style='background-color: #E6E6E6; text-align: center; ')  예약
            tbody
              tr
                td(style='background-color: #ffffff;') 1437
                th(style='background-color: #ffffff;')
                th(style='background-color: #ffffff;')
                th(style='background-color: #ffffff;')
                th(style='background-color: #ffffff;')
                th(style='background-color: #ffffff;')
                th(style='background-color: #5858FA;')
                th(style='background-color: #5858FA;')
                th(style='background-color: #5858FA;')
                th(style='background-color: #5858FA;')
                th(style='background-color: #ffffff;')
                td(style='background-color: #ffffff;')
                  button(type='submit') 예약하기
              tr
                td(style='background-color: #ffffff;') 1441
                th(style='background-color: #ffffff;')
                th(style='background-color: #5858FA;')
                th(style='background-color: #5858FA;')
                th(style='background-color: #ffffff;')
                th(style='background-color: #ffffff;')
                th(style='background-color: #ffffff;')
                th(style='background-color: #ffffff;')
                th(style='background-color: #5858FA;')
                th(style='background-color: #5858FA;')
                th(style='background-color: #ffffff;')
                td(style='background-color: #ffffff;')
                  button(type='submit', onclick="window.location.href='/두번째 화면'") 예약하기
          p * 담당자 연락처 띄우기